<!doctype html>
<html lang="en">
<head>
    <%- include("./parts/head");%>
</head>
<body>
    <%- include('./parts/navbar'); %>

    <div class="container">
        <h1>Content Page</h1>
    </div>
</body>
</html>